auth-zones=localdomain=/var/zones/localdomain
config-dir=/etc/pdns-recursor
config-name=recursor.conf
daemon=yes
forward-zones-recurse=.=8.8.8.8;2001:4860:4860::8888
local-address={{ local_address }}
query-local-address=0.0.0.0, ::
